/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.u_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.box {
  border: solid 1px black;
}

.img_container {
  height: 100px;
  width: 100px;
}

.main_card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  height: 60px;
  width: 50%;
  padding: 1.3rem;
}

.user_title {
  align-self: center;
  padding: 0 0.5rem;
}

.post_count {
  align-self: flex-end;
  justify-self: flex-end;
  margin-left: 5rem;
  margin-right: 0.25rem;
}

a {
  color: black;
  text-decoration: solid;
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 10rem;
  width: 66%;
}

.all_btn {
  align-self: center;
  width: max-content;
  border: solid 1px black;
}

.ck_together {
  align-self: flex-end;
  justify-self: flex-end;
  padding-right: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts_info {
  display: flex;
  justify-content: space-around;
}

.show_container {
  margin: 2rem 4rem;
}

.comment_counter {
  display: flex;
  flex-direction: column;
}

.index_container {
  width: 66%;
  margin-left: 10rem;
}
